#content {
    margin: .5rem auto;
    padding: 1rem;
    max-width: 60rem;

    background-color: #f5f5f5;
    box-shadow: 0 0 10px 2px darkgrey;
    border-radius: .5rem;
}

p {
    font-size: 14pt;
    line-height: 18pt
}

.entry-content {
    position: relative;
}

.note {
    position: absolute;
    left: 101%;
    border: #333 solid 1px;
    border-radius: 1px;
    background-color: #f5f5f5;
}

@media print {
    main {
        background: none !important;
    }
    
    #title-container {
        margin-left: 0;
    }
    
    section {
        margin: 0;
        background: none;
        box-shadow: none !important;
    }
    
    .entry-title {
        font-weight: lighter;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .post-info {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .entry-content {
        column-count: 2;
        column-gap: 1rem;
    }
    p {
        font-family: serif;
    }
}