#main-grid-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: "gContent gSidebar";
}

@media (max-width: 30rem) {

    #main-grid-container {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "gContent" "gSidebar";
    }

}

#content {
    grid-area: gContent;
    padding: 1rem;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px 2px darkgrey;
    border-radius: .5rem;
}

#post-list {
    list-style-type: none;
    margin: 0;
    padding: .5rem;
}

aside {
    grid-area: gSidebar;
}

#menu {
    padding: .5rem;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px 2px darkgrey;
    border-radius: .5rem;
    height: max-content;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    padding: 2px 0;

    background: #d4d4d4;
    border: 1px solid gray;
    text-decoration: none;
    font-weight: bold;
    color: black
}

nav ul a {
    text-decoration: none;
}

#tag-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#tag-list > a {
    padding: 3px;
    margin: 3px;

    color: #222;
    background: lightgrey;
    border: 1px solid #333;
    border-radius: 3px;
    text-decoration: none;
}