
html {
    background-color: white;
    background-image: url(../prism_light_tiny.png);
    background-repeat: repeat;
    background-size: 170px 170px;
    margin: 0;
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
   margin: 0 0 .25rem 0; 
}

h1 > a, h2 > a, h3 > a {
    margin:  0 0 .25rem 0;
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

blockquote {
    margin: 5px 1rem 5px 1rem;
    padding: .5rem 1rem;
    background-color: #e6e6e6;
    border-left: 5px solid lightslategray;
}

blockquote p {
    margin: 0;
    font-family: 'Times New Roman', Times, serif
}

#banner {
    width: 100%;
    height: 70px;

    background-color: rgb(49, 49, 49);
}

#banner h1 a {
    display: block;
    width: 10rem;
    margin: 0 auto;
    color: whitesmoke;
}

#main-grid-container {
    margin: .5rem auto;
    max-width: 60rem;
    min-width: 30rem;
    min-height: 100%;

}

.header-image {
    width: 100%;
    margin: 1rem 0;
}

footer time {
    display: inline;
}

#post-list {
    list-style-type: none;
}

#contentinfo {
    width: 100%;
    height: 1rem;
    margin: 0;
    padding: 2px 0;

    background-color: rgb(49, 49, 49);;
}

#contentinfo > address {
    display: block;
    width: max-content;
    margin: 0 auto;

    color: whitesmoke;
}

#contentinfo address a {
    color: lightblue;
}
