


h2, h3, h4 {
   margin: 0 0 .25rem 0; 
}

h2 > a, h3 > a {
    margin:  0 0 .25rem 0;
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}


#banner {
    width: 100%;

    background-color: rgb(49, 49, 49);
}

#title-container {
    padding: 1rem 0 1rem 2rem;
    width: 1000px;
    margin: 0 auto;
    color: white;
    font-family: 'Palatino', 'Lucida Bright', serif;
}

#title-container p, #title-container h1 {
    margin: 0;
    font-family: 'Palatino', 'Lucida Bright', serif;
    font-weight: bold;
}

#title-container h1 a {
    margin: 0;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Palatino', 'Lucida Bright', serif;
}

#main-grid-container {
    margin: .5rem auto;
    max-width: 1000px;

}

.header-image {
    width: 100%;
    margin: 1rem 0;
}

footer time {
    display: inline;
}

#contentinfo {
    width: 100%;
    margin: 0;
    padding: 2px 0;

    background-color: rgb(49, 49, 49);
}

#contentinfo > address {
    display: inline-block;
    width: 100%;
    text-align: center;

    color: whitesmoke;
}

#contentinfo address a {
    color: lightblue;
}
